@charset "UTF-8";

html {
    font-size: 15px;
}

#menu>ul>li {
    display: inline;
    padding: 5px;
    border: 1px solid #666666;
    border-radius: 4px;
    background: linear-gradient(#666666, #FFFFFF)
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

ul {
    text-decoration: none;
    list-style: none;
}

.flex-container {
    display: flex;
}

main {
    margin: 0 10px;
    padding: 0 10px;
    background-color: rgb(238, 238, 237);
    flex: 5;
    order: 1;
}

aside {
    margin: 0 10px;
    padding: 0 8px;
    background-color: rgb(242, 242, 204);
    flex: 1;
    order: 2;
}

h1 {
    background: linear-gradient(rgb(171, 50, 50), rgb(249, 209, 135));
    color: black;
    font-size: 40px;
}

h2 {
    background-color: rgb(218, 243, 169);
    font-size: 28px;
}

h3 {
    border-top: 3px solid;
    border-bottom: 1px solid;
    font-size: 20px;
}

.list {
    background-color: rgb(3, 107, 3);
    font-size: 18px;
    color: white;
}


table {
    border: 2px solid black;
    background-color: #FFFFFF;
}

th {
    border: 1px solid black;
    background-color: rgb(183, 183, 244);
}

td {
    border: 1px solid black;
}


th:hover {
    font-size: 1.3em;
}

td:hover {
    font-size: 1.1em;
}

.ex {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
}

.ample {
    font-size: 15px;
    border-bottom: 1px solid;
}

.grand {
    width: 400px;
}

canvas {
    background-color: white;
}

.chart1 {
    text-align: center;
    padding: 0 0 30px 0;
}